.navContainer li {
    display: inline;
    float: left;
    margin: 10px;
}

.navContainer nav {
    background-color: #24202c;
    position: fixed;
    top: 0;
    width: 100%;
    height: 6%;
}

.navContainer nav a {
    color: antiquewhite;
}


footer{
    background-color: rgb(174, 174, 174);
}